/* burbuja */
.globo-flotante {
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: var(--color-secundario);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 20px;
    top: 600px;
    box-shadow: 0 0 3px var(--negro);
    cursor: pointer;
    z-index: 1;
    }
    
    .globo-flotante__icono {
    color: var(--blanco);
    }
    
    .globo-flotante--lapiz {
    width: 55px;
    height: 55px;
    right: 25px;
    top: 525px;
    background-color: var(--globo-lapiz);
    }
    
    .globo-flotante__icono--lapiz {
    color: var(--icono-lapiz);
    }