/*Llamadas*/
.contenedor-llamadas {
    position: relative;
}

.llamadas {
    overflow-y: auto;
    width: 450px;
    height: 685px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


.llamada{ 
    width: 100%;
    height: 90px;
    padding: 5px;
    display: flex;
    align-items: center ;
}

.llamada:hover {
    background-color: var(--hover-card);
}

.llamada__icon{
    min-width: 65px;
    height: 65px;
    background-color: var(--color-primario);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    rotate: 45deg;
    margin-left: 5px;
    cursor: pointer;
}

.llamada__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 15px;
    line-height: 25px;
    padding-top: 5px;
}

.llamada__titulo {
    font-size: 21px;
    font-weight: bold;
}

.llamada__texto {
    color: var(--texto);
    font-size: 17px;
}

.llamada__texto-recibida::before{
    content: "↙";
    color: var(--color-secundario);
    font-size: 20px;
    font-weight: bold;
}

.llamada__texto-perdida::before{
    content: "↙";
    color: var(--color-llamada-perdida);
    font-size: 20px;
    font-weight: bold;
}

.llamadas__recientes {
    padding: 0 15px;
    font-weight: bold;
    color: var(--texto);
    font-size: 14px;
}

.llamada__foto {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 5px;
}

.llamada__icono-telefono {
    color: var(--color-primario);
    cursor: pointer;
    margin-right: 20px;
}